/*
	Description: Bandbreed Desktop Template
	Author: Arne Maier
	Author URL: http://www.bandbreed.com/
	Date: february 2012
	Version: 2.1
*/

/* @group Meta */
/* @group Normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
audio:not([controls]) {
	display: none;
	}
[hidden] {
	display: none;
	}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}
body {
	font-size: 13px;
	line-height: 1.231;
	margin: 0;
	text-rendering: optimizeLegibility;
	}
body, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
	}
/* @end */



/* @group Design */

/* @group Typography */
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
ins {background: #ff9; color: #000; text-decoration: none;}
mark {background: #ff0; color: #000; font-style: italic; font-weight: bold;}
pre, code, kbd, samp {font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em;}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
q {quotes: none;}
q:before, q:after {content: ""; content: none;}
small {font-size: 85%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
figure {margin: 0;}
	
h1,h2,h3,h4,h5,h6 {
	font: 32px/1.4 custom, sans-serif;
	}
h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 16px;}
h5 {font-size: 16px;}
h6 {font-size: 16px;}

h1,h2,h3,h4,h5,h6 {
	margin: 15px 0 10px;
	}
p {
	margin: 0 0 15px;
	}
/* @end */

/* @group Links */
a {
	}
a:visited {
	}
/* @end */

/* @group Colours */
.white {
	color: #fff;
	}
.silver {
	color: #eee;
	}
.grey {
	color: #aaa;
	}
.ink {
	color: #222;
	}
.black {
	color: #000;
	}
/* @end */

/* @group Images */
#bg {
	position: fixed;
	z-index: -1;
	}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	}
svg:not(:root) {
	overflow: hidden;
	}
/* @end */

/* @group Lists */
ul, ol {
	list-style-position: inside;
	margin: 0 0 1em;
	padding: 0 0 1em;
	}
dd {
	margin: 0 0 0 40px;
	}
nav ul,
nav ol,
ul.clean,
ol.clean {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0; 
	}
/* @end */

/* @group Forms */
form {margin: 0;}
fieldset {border: 0; margin: 0; padding: 0;}
label {cursor: pointer;}
legend {border: 0; *margin-left: -7px; padding: 0;}
button, input, select, textarea {font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;}
button, input {line-height: normal; *overflow: visible;}
table button, table input {*overflow: auto;}
button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] {cursor: pointer; -webkit-appearance: button;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top; resize: vertical;}
input:valid, textarea:valid { }
input:invalid, textarea:invalid {background-color: #f0dddd;}
/* @end */
/* @end */




/* @group Content */
/* @group Skeleton */
#maincontent {
	margin: 0 0 20px;
	}
/* @end */

/* @group Header items */
#logowrapper {
	background: #fff;
	}
h1#logo {
	background: url('images/logo/logo.png') no-repeat 0px 50%;
	line-height: 100px;
	text-indent: -666em;
	}
	
#breadcrumbs {
	color: #fff;
	padding: 4px 0;
	line-height: 30px;
	margin: 0 20px;
	}
#breadcrumbs span {
	line-height: 30px;
	}
#breadcrumbs a {
	background: #fff;
	color: #222;
	padding: 2px 4px;
	}
/* @end */

/* @group Navigation */
nav {
	background: #999;
	height: 35px; /* X-value */
	position: relative;
	z-index: 6666;
	}
nav ul {
	
	}
nav li {
	display: inline;
	float: left;
	}
nav li a {
	color: #fff;
	cursor: pointer;
	font: bold 15px/35px arial, sans-serif; /* X-value */
	text-decoration: none;
	padding: 0 20px;
	}
/* @end */

/* @group Footer */
#footerwrapper {
	background: #ddd;
	line-height: 70px; /* Footer height */
	overflow: hidden;
	}
#footerwrapper p {
	margin: 0;
	}
/* @end */
/* @end */




/* @group Features */



/* @end */




/* @group Misc */
/* @group Alternative screens */

@media only screen and (min-width: 800px) {}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}
/* @end */

/* @group non-semantic helper classes */
.nocallout {-webkit-touch-callout: none;}
textarea[contenteditable] {-webkit-appearance: none;}
.gifhidden {position: absolute; left: -100%;}
.ir {display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr;}
.ir br {display: none;}
.hidden {display: none !important; visibility: hidden;}
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible {visibility: hidden;}
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.alignleft {display: inline; float: left;}
.alignright {display: inline; float: right;}
.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
/* @end */

/* @group Print styles */
@media print {
	* {background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;} /* Black prints faster: h5bp.com/s */
	a, a:visited {text-decoration: underline;}
	a[href]:after {content: " (" attr(href) ")";}
	abbr[title]:after {content: " (" attr(title) ")";}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: "";}
	pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
	thead {display: table-header-group;} /* h5bp.com/t */
	tr, img {page-break-inside: avoid;}
	img {max-width: 100% !important;}
	@page {margin: 0.5cm;}
	p, h2, h3 {orphans: 3; widows: 3;}
	h2, h3 {page-break-after: avoid;}
}
/* @end */
/* @end */
